<launch>
    <arg name="debug" default="false"/>
    <env if="$(arg debug)" name="ROSCONSOLE_CONFIG_FILE" value="$(find dsol)/launch/debug.conf"/>

    <arg name="tbb" default="0"/>
    <arg name="log" default="5"/>
    <arg name="vis" default="0"/>
    <arg name="mode" default="0"/>

    <node pkg="dsol" type="sv_dsol_node_odom" name="dsol_odom" output="screen">
        <rosparam command="load" file="$(find dsol)/config/dsol.yaml"/>
        <rosparam command="load" file="$(find dsol)/config/dsol_d455.yaml"/>

        <param name="tbb" type="int" value="$(arg tbb)"/>
        <param name="log" type="int" value="$(arg log)"/>
        <param name="vis" type="int" value="$(arg vis)"/>
        <param name="mode" type="int" value="$(arg mode)"/>

        <remap from="~cinfo0" to="/device_0/sensor_0/Infrared_1/info/camera_info"/>
        <remap from="~image0" to="/device_0/sensor_0/Infrared_1/image/data"/>
        <remap from="~image1" to="/device_0/sensor_0/Infrared_2/image/data"/>
        <remap from="~tf_cam" to="/device_0/sensor_0/Infrared_2/tf/0"/>

        <remap from="~acc" to="/device_0/sensor_2/Accel_0/imu/data"/>
        <remap from="~gyr" to="/device_0/sensor_2/Gyro_0/imu/data"/>
        <remap from="~tf_imu" to="/device_0/sensor_2/Gyro_0/tf/0"/>
    </node>
</launch>